
<div class="admin-center">
    <button class="button-design" (click)="addUser(content)">Add User</button>
  </div>
<div class="container">
    <ng-template #content let-modal>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-user (modalClose)="modal.close('Close click')"></app-add-user>
      </div>
      <div class="modal-footer">
        <button class="button-design" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>