/* .container{
    background-color: #e94040;

} */


.admin-center{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



body,html{
    height:100%;
    margin:0 ;
} 