<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      [animation]="m.animation"
      (mouseOver)="markerOver(m)"
      (mouseOut)="markerOut(m)"
      >
      
    <agm-info-window>
      <strong>{{m.name}}</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle *ngIf="distance>0" [latitude]="lat" [longitude]="lng" 
      [radius]="distance"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>