
.modal-container {
  display: none;
}

.products:hover .modal-container {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    padding: 2px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products:hover #image-like {
    /* position:absolute; */
    display: flex;

}

.products:hover {
    transform: scale(1.02);
    border: 3px solid #E85858;
    border-radius: 20px;
    
}
/* 
  .info-modal{
    margin-left: 175px;
  } */

  .products{
    transition: all .2s ease-in-out;
    width: 260px;
    height: 400px;
    overflow: hidden;
    margin: 14px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 73, 53);
    box-shadow: 2px 2px 40px -30px rgba(0,0,0,1);
    border-radius: 6px;
    font-family: Roboto;
    position: relative;
    border: 3px solid #e2e2e2;
}
.products img{
    width: 100%;
    /* filter: sepia(10%); */
}
.yellow-filter{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(219, 219, 206, 0.26);
}

.product-img-container{
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.product-h2-container{
    width: 100%;
    height: 20px;
    background-color: white;
}

.products h2 ,.products h4{
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 28pt;
    margin-left: -2px;
    text-align: center;
    z-index: 2;
}

.products h3{
    font-family: 'Poppins', sans-serif;
    margin-right: 14px;
    text-align: right;
    font-size: 10pt;
    margin-top:15px;

}

.product-name{
    height:20px;
    text-align: center;
}

.product-amount-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 2px dashed #e94040;
    border-bottom: 2px dashed #e94040; */
    height: 50px;
}
.adjuct-amount-buttons{
    margin: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* border: 2px dashed rgb(36, 73, 53); */
    background-color: #E85858;
    color: white;
    border: none;
    font-size: 16pt;
    cursor: pointer;
}

.center-product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-product-inputs{
    flex-direction: column;
    width: 100%;
}

.likes-count{
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




.product-footer{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

}

#image-like{
    display: none;
    height:30px;
    width:30px;
    cursor:pointer;
  }

  #likes{
      font-size: 12px;
  }

  .product-price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}











