<div>

  <div class="products">

    <div class=" modal-container">
      <app-product-edit-modal *ngIf="toShowProductsFromDb && authService.isUserManager()" [product]="product">
      </app-product-edit-modal>
      <app-product-info-modal *ngIf="toShowProductsFromDb" class="info-modal" [product]="product">
      </app-product-info-modal>

    </div>
    <div *ngIf=toShowProductsFromDb>
      <div class="product-img-container">
        <div class="yellow-filter"></div><img [src]="product.elementProperties.src" alt="{{product.name}}">
      </div>
      <!-- <input type="text" [value]="product.name" [(ngModel)]="product.name"> -->
      <div class="product-name">
        <p><b>{{product.name}}</b></p>
        
      </div>

      <div class="product-amount-container">
        <button class="adjuct-amount-buttons" (click)="addOneItem()">+</button>
        <h3>units: {{product.elementProperties.amount}} </h3>
        <button class="adjuct-amount-buttons" (click)="removeOneItem()">-</button>
      </div>
      <div class="product-price">
        
      </div>
      <div class="product-footer">
          <p class="likes">{{product.elementProperties.price | currency:'USD':'symbol':'1.2-2'}}</p>
          <p class="likes">Likes: {{product.elementProperties.totalLikes}}</p>
        <a (click)="like()">
          <img id="image-like" src="../assets/heart.png" alt="like">
        </a>
        
      </div>

    </div>

  </div>


</div>











<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{product.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>ID: {{product.key.id}}</p>
      <p>Smartspace: {{product.key.smartspace}}</p>
      <p>Element Type: {{product.elementType}}</p>
      <p>Name: {{product.name}}</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->