


<!-- <div class="row">

      <div *ngFor="let product of products" class="item col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-product [product]= "product"></app-product>
      </div>
</div> -->

<app-shopping-cart></app-shopping-cart>
<br>

