.form-wrapper{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -100px;
    

}

.sumbit-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.submit-button{
    border-radius: 10px;
    border: 2px solid white;
    background-color:#B32317;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.submit-button:disabled{
    background-color:rgba(179, 36, 23, 0.692);
    color: white;
    cursor: not-allowed;
}