<div class="form-wrapper">
  <form class="map-form" [formGroup]="mapForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <input matInput type="text" placeholder="Distance" [value]="distance" [(ngModel)]="distance" formControlName="distance">
    </mat-form-field>
    <div class="sumbit-wrapper">
    <button class="submit-button" (click)="onSubmit()" [disabled]="isDistanceNull()">Find</button>  
    </div>
  </form>
  
</div>