<div class="form-warpper">


  <form class="payment-form" [ngClass]="isOpen ? 'payment-form' : 'payment-form-close'" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="img-wrapper">
                <img class="logo" src="assets/logo.png" alt="Avatar" >
        </div>

                <h4 class="title">Add Credit Card</h4>

      <mat-form-field class="input">
          <input matInput type="text" placeholder="Card number" formControlName="cardNumber">
      </mat-form-field>
      <mat-error class="error" *ngIf="cardNumber.errors?.required && cardNumber.touched">
          card number is required
      </mat-error>
      <mat-error class="error" *ngIf="cardNumber.errors?.lengthIsNot16 && cardNumber.touched">
          card numbers length should be 16
      </mat-error>
      <mat-error class="error" *ngIf="cardNumber.errors?.notAllAreNumbers && cardNumber.touched">
          all characters should be numbers only
      </mat-error>
      <mat-error class="error" *ngIf="cardNumber.errors?.sumSmallerThan16 && cardNumber.touched">
          number sum should be bigger than 16
      </mat-error>
      <mat-error class="error" *ngIf="cardNumber.errors?.allDigitAreTheSame && cardNumber.touched">
          card numbers can't be the same
      </mat-error>
      <mat-error class="error" *ngIf="cardNumber.errors?.lastDigitNotEven && cardNumber.touched">
          last digit must be even
      </mat-error>

      <mat-form-field class="input">
          <input matInput type="text" placeholder="Card ownder full name" formControlName="cardOwnerName">
      </mat-form-field>
      <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
          name is required
      </mat-error>

      <mat-form-field class="input">
          <input matInput [matDatepicker]="picker" placeholder="Exparation date" formControlName="exparationDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-error class="error" *ngIf="exparationDate.errors?.required && exparationDate.touched">
          date is required
      </mat-error>

      <mat-form-field class="input">
          <input matInput type="number" placeholder="enter CVV" formControlName="CVV"> 
      </mat-form-field>

      <mat-error class="error" *ngIf="CVV.errors?.required && CVV.touched">
          CVV is required
      </mat-error>

      <button class="submit-button" [disabled]="paymentForm.invalid">Next</button>
  </form>
</div>
<!-- [disabled]="paymentForm.invalid" -->