<div *ngIf="!toShowProductsFromDb" class="center-product add-product">
  <div class="center-product add-product-title">
    <h4>Add New Product</h4>
  </div>

  <form [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="saveProduct(formDirective)">
    <div class="center inputs">
      <div class="input-row">

        <mat-form-field class="input">
          <input matInput type="text" class="input-add-product" placeholder="Enter Name" formControlName="name">
        </mat-form-field>


        <mat-form-field class="input">
          <input matInput type="number" class="input-add-product" placeholder="Enter Price" formControlName="price">
        </mat-form-field>

      </div>
      <div class="input-row">
        <mat-form-field class="input">
          <input matInput type="text" class="input-add-product" placeholder="Enter Size" formControlName="size">
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput type="text" placeholder="Enter color" formControlName="color">
        </mat-form-field>

      </div>
      <div class="input-row">
        <mat-form-field class="input">
          <input matInput type="text" placeholder="Enter Image Url" formControlName="src">
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput type="text" placeholder="Enter Description" formControlName="description">
        </mat-form-field>
      </div>

    </div>
    <div class="center-product">
      <button type="submit" class="submit-button button-design" [disabled]="productForm.invalid">Save</button>
    </div>
  </form>
</div>