

/* 
  .info-modal{
    margin-left: 175px;
  } */


  .add-product{
    transition: all .2s ease-in-out;
    width: 550px;
    height: 400px;
    overflow: hidden;
    margin: 14px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 73, 53);
    box-shadow: 2px 2px 40px -30px rgba(0,0,0,1);
    border-radius: 6px;
    font-family: Roboto;
    position: relative;
    border: 3px solid #e2e2e2;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

h4{
  font-family: 'Poppins', sans-serif;
}  



.center-product{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-title{
  margin-top : 2px;
  
}


.input-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  

}








