.grid-container {
    display: grid;
    grid-template-columns: 280px 1fr 220px;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "form map map"
        "form map map"
        "form map map";

    grid-gap: 0;
    overflow: hidden;
    margin-top:50px;
}

.form-cont{
    box-sizing: border-box;
    overflow: visible;
    z-index: 999;
    grid-area: form;
    box-shadow: 15px 0px 39px -42px rgba(0,0,0,1);
}

.map-cont{
    grid-area: map;
}