<div class="grid-container">
  
  <div class="form-cont">
    <app-map-form (onSubmitDistance)="handleSubmitDistance($event)"></app-map-form>
  </div>

  <div class="map-cont">
    <app-map [distance]="distance"></app-map>
  </div>


</div>