<div class="center">
  <div class="form-container">
    <form>
      <div class="imgcontainer">
        <img src="assets/logo.png" alt="Avatar" class="avatar">
      </div>
      <div #someVar class="alert">
          Wrong Email & SmartSpace, Please Try Again!
      </div>

      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" [value]="email" [(ngModel)]="email" required>

        <label for="psw"><b>SmartSpace</b></label>
        <input type="text" placeholder="Enter Smartspace" name="smartspace" [value]="smartspace" [(ngModel)]="smartspace" required>
        
        <button type="submit" class="login-button" [disabled]="email==undefined&&smartspace==undefined" (click)="onLogin()">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <span class="psw">Not A Member? <a routerLink="/register">Register Now!</a></span>
      </div>
    </form>

  </div>
</div>