.edit{
    /* margin: 14px; */
    
    width: 20px;
    height: 20px;
    border-radius: 50px;
    /* border: 2px dashed rgb(36, 73, 53); */
    background-color: #E85858;
    color: white;
    border: none;
    font-size: 10pt;
    cursor: pointer;
  }