<div>
  <button class="edit" (click)="openLg(content)">e</button>
</div>
<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-edit-product-form [product]="product" (modalClose)="modal.close('Close click')"></app-edit-product-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</div>