.info{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #E85858;
    color: white;
    border: none;
    font-size: 10pt;
    cursor: pointer;
      
  }
  .ul-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  ul{
    margin-top: 20px;
  }


  .modal-body{
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
  }

  .modal-header, .modal-footer{
    background-color: #EBEBEB;
  }

