<button class="info" (click)="openLg(content)">i</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  <div class="modal-body">
   <div class="ul-items">
     
    <ul>
      <li>Price: {{product.elementProperties.price | currency:'USD':'symbol':'1.2-2'}}</li>
      <li>Size: {{product.elementProperties.size}}</li>
      <li>Color:{{product.elementProperties.color}} </li>
      <li>Description: {{product.elementProperties.description}}</li>
    </ul>
  </div>

    <img [src]="product.elementProperties.src" alt="{{product.name}}">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>