.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.order-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #e2e2e2;
}

.logo{
    width: 100px;
    height:100px;
}

body,html{
    height:100%;
    margin:0 ;
}

.checkout-form{
    box-shadow: 2px 2px 40px -30px rgba(0,0,0,1);
    border-radius: 6px;
    border: 3px solid #e2e2e2;

}

.order-info{
    width: 800px;
    height: 400px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}

.order-summary{

    color: black;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid #e2e2e2;

}

.input-info{
    width: 50%;
    display: flex;
    flex-direction: column;   
}

.wrapper{
    display: flex;

}

.place-order-container{

    margin-top: 10px;
}

.check-out-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
   
    border-bottom: 0.5px solid #e2e2e2;
}

.shipping-info{
    
    height:50%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.payment-info{
    
    height:50%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.order-footer{
    display: flex;
    justify-content: center;
    
}

.place-order-button{
    border-radius: 10px;
    border: 2px solid white;
    background-color:#B32317;
    color: white;
    padding: 8px;
    cursor: pointer;
    
}

.alert-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 50px;
    color: #B32317;
}
