<div class="page-container">


    <app-address-form *ngIf="showAddress" class="checkout-form" (onAddressSubmited)=handleAddressSubmited($event)>
    </app-address-form>
    <app-payment-form *ngIf="showPayment" class="checkout-form"[address]="address" (onPaymentSubmited)=handlePaymentSubmited($event)>
    </app-payment-form>
    <div *ngIf="showSummary" #summary class="order-cont checkout-form">

        <div class="img-wrapper">
            <img class="logo" src="assets/logo.png" alt="Avatar">
        </div>
        <div class="order-info">

            <div class="order-summary">
                <!-- Header  -->
                <div class="title check-out-center">
                    <h5>Order Summary</h5>
                </div>
                <!-- Body  -->
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>SUBTOTAL: {{backEndService.totalPrice | currency:'USD':'symbol':'1.2-2'}}</b></li>
                        <li class="list-group-item"><b>DELIVERY: {{deliveryPrice | currency:'USD':'symbol':'1.2-2'}}</b></li>
                        <li class="list-group-item"><b>TAX:
                                {{backEndService.totalPrice *  taxRate | currency:'USD':'symbol':'1.2-2'}}</b></li>
                    </ul>
                </div>
                <!-- Footer -->
                <div class="order-footer">
                    <h5><b>TOTAL:
                            {{backEndService.totalPrice + deliveryPrice + backEndService.totalPrice *  taxRate | currency:'USD':'symbol':'1.2-2'}}</b>
                    </h5>
                </div>
            </div>
            <div class="input-info">
                <div class="payment-info">
                    <!-- Header  -->
                    <div class="title check-out-center">
                        <h5>Payment Info</h5>
                    </div>
                    <!-- Body  -->
                    <div>
                        <ul style="list-style: none;">
                                <li><b>Card Number:</b> {{paymentInfo.cardNumber}}</li>
                                <li><b>Expiration Date:</b> {{paymentInfo.exparationDate}}</li>
                                <li><b>CVV:</b> {{paymentInfo.CVV}}</li>
                                <li><b>Owner:</b> {{paymentInfo.cardOwnerName}}</li>
                        </ul>
                    </div>

                </div>
                <div class="shipping-info">
                    <!-- Header  -->
                    <div class="title check-out-center">
                        <h5>Shipping Info</h5>
                    </div>
                    <!-- Body  -->
                    <div>
                        <ul style="list-style: none;">
                            <li><b>Street:</b> {{address.street}}</li>
                            <li><b>City:</b> {{address.city}}</li>
                            <li><b>Zipcode:</b> {{address.zipcode}}</li>
                            <li><b>Phone:</b> {{address.phone}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="showSummary" class="place-order-container check-out-center">
        <button class="place-order-button" #placeOrderButton (click)="placeOrder()">Place Order</button>
    </div>

    <div #someVar class="alert-checkout">
           <b> Order Placed! Thank you! :)</b>
    </div>



</div>