<div class="grid-container">
  <div id="cart">
    <app-cart-product *ngFor="let car of cart" [car]="car"></app-cart-product>
  </div>

  <div id="products-container">

    <app-product [toShowProductsFromDb]="true" *ngFor="let product of BackEndService.products" [product]="product">
    </app-product>
    <app-add-product-card class="add-product-input" *ngIf="authService.isUserManager()"></app-add-product-card>

  </div>


  

</div>
<div id="cart-footer">
  <h3 class="total-price">Total Price: {{BackEndService.totalPrice | currency:'USD':'symbol':'1.2-2'}}</h3>
  <button [disabled]="BackEndService.totalPrice===0" class="procced-button" (click)="onProceedToCheckout()"
    routerLink="checkout">Procced to
    Checkout</button>
</div>

  <div class="pagination-buttons">
      <button class="button-design btns" [disabled]="page == 0" (click)="previousPage()">Previous</button>
      <button class="button-design btns" [disabled]="disableNext" (click)="nextPage()">Next</button>
  </div>