#products-container{
    display: flex;
    flex-wrap: wrap;
    grid-area: shop;
}
#cart{
    height: 100%;
    width: 270px;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: cart;
    box-shadow: 15px 0px 39px -42px rgba(0,0,0,1);
    overflow: auto;
}
#cart > :last-child {
    padding-bottom: 140px;
    margin-bottom: 40px;
}
#cart::-webkit-scrollbar { 
    display: none; 
}
.grid-container {
    display: grid;
    grid-template-columns: 280px 1fr 220px;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "cart shop shop"
        "cart shop shop"
        "cart shop shop";

    grid-gap: 0;
    overflow: hidden;
    margin-top:50px;
}
.procced-button{
    width: 100%;
    background-color:#E85858;
    color:white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border: none;
}
.procced-button:disabled{
    background-color:#c27b7b;
    color: rgb(236, 229, 229);
    cursor: not-allowed;
}
.total-price{
    margin-bottom: 50px;
    font-size: 18pt;
    color: rgb(36, 73, 53);
    text-align: center;
    width: 100%;
}
#cart-footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 270px;
    z-index: 999;
    background-color: white;
}

.pagination-buttons{
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:150px;
    

    
}

.btns{
    font-size: 10px;
}











