<nav *ngIf="nav.visible" class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" routerLink="home">Online Community Shopping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li routerLinkActive="nav-item active">
        <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
      </li> -->
      <li routerLinkActive="nav-item active">
        <a class="nav-link" routerLink="/location">Map</a>
      </li>
      <li *ngIf=authService.isUserAdmin() routerLinkActive="nav-item active">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>

      <li routerLinkActive="nav-item active">
        <a class="nav-link log-out" (click)="onLogOut()">Log Out</a>
      </li>

    </ul>
  </div>
</nav>