<div class="title-center">
    <h1>Edit Product</h1>
  </div>
  <div class="form-warpper">
    <form class="payment-form" [formGroup]="productForm" (ngSubmit)="onSubmit($event)">
        <mat-form-field class="input">
            <input matInput type="text" placeholder="Name" formControlName="name" value="{{product.name}}" [(ngModel)]="product.name">
        </mat-form-field>
        <!-- <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
            Name is required
        </mat-error> -->
  
          <!-- <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
            Email is required
        </mat-error> -->
  
        <mat-form-field class="input">
                <input matInput type="number" placeholder="price" formControlName="price" value="{{product.elementProperties.price}}" [(ngModel)]="product.elementProperties.price">
        </mat-form-field>
  
        <!-- <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
            name is required
        </mat-error> -->
  
        <mat-form-field class="input">
            <input matInput type="text" placeholder="Image Source" formControlName="src" value="{{product.elementProperties.src}}" [(ngModel)]="product.elementProperties.src"> 
        </mat-form-field>
        <!-- <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
            Image source is required
        </mat-error> -->
        
        <!-- [disabled]="paymentForm.invalid" -->
        <mat-form-field class="input">
                <input matInput type="text" placeholder="Size" formControlName="size" value="{{product.elementProperties.size}}" [(ngModel)]="product.elementProperties.size"> 
            </mat-form-field>
            <mat-form-field class="input">
                    <input matInput type="text" placeholder="Color" formControlName="color" value="{{product.elementProperties.color}}" [(ngModel)]="product.elementProperties.color"> 
                </mat-form-field>
        <mat-form-field class="input">
                        <input matInput type="text" placeholder="Description" formControlName="description" value="{{product.elementProperties.description}}" [(ngModel)]="product.elementProperties.description"> 
        </mat-form-field>
  
        <button class="button-design" >Submit</button>
    </form>
  </div>
  <!-- [disabled]="paymentForm.invalid" -->