.input{
    height: 60px;
}
.payment-form{
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 40px -30px rgba(0,0,0,1);
    border-radius: 6px;
    border: 3px solid #e2e2e2;
    justify-content: flex-start;
    flex-direction: column;
    /* color: #e94040; */

    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.error{
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.submit-button{
    border-radius: 10px;
    border: 2px solid #E85858;
    /* color: #e94040; */
    padding: 8px;
    cursor: pointer;
}
.submit-button:disabled{
    background-color:#dddddd;
    cursor: not-allowed;
}
.form-warpper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title-center{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}



body,html{
    height:100%;
    margin:0 ;
} 