<div class="admin-center title">
  <h1>Users</h1>
</div>


<div class="admin-center">
  <div class="table-container " *ngIf="this.users !=null">
    <table class="table">
      <thead class="bg-danger">
        <tr class="head">
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Smartspace</th>
          <th scope="col">Role</th>
          <th scope="col">Username</th>
          <th scope="col">Avatar</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of backEndService.users; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{user.key.email}}</td>
          <td>{{user.key.smartspace}}</td>
          <td>{{user.role}}</td>
          <td>{{user.username}}</td>
          <td>{{user.avatar}}</td>
          <td>{{user.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="button-wrapper">
  <app-modal></app-modal>
  <div>
    <button class="button-design" [disabled]="page == 0" (click)="previousPage()">Previous</button>
    <button class="button-design" [disabled]="disableNext" (click)="nextPage()">Next</button>
  </div>
</div>