.title{
    margin-top:50px;
}

.table-container{
    width:100%;
    margin-top:10px;
}

.head{
    color:white;
}

.admin-center{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;

}
