<div class="center">
    <div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="onCloseModal($event)">
      <div class="container">
        <h1>Add User</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>   
        <div formGroupName="key">
          <input type="text" placeholder="Enter Email" name="email"  formControlName="email" required>
          <input type="text" placeholder="Enter Smartspace" name="smartspace"  formControlName="smartspace" required>
        </div>
        <input type="text" placeholder="Enter Username" name="user-name" formControlName="username" required>    
        <input type="password" placeholder="Enter Password" name="psw" required>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <input type="text" placeholder="Enter Avatar Url" name="avatar-url" formControlName="avatar" required>
    
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Role</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="role">
            <option selected>Choose...</option>
            <option value="PLAYER">Player</option>
            <option value="MANAGER">Manager</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>
    
        
        <hr>
    
        <button type="submit" class="registerbtn" >Add</button>
      </div>
    </form> 
    
    </div>
    </div>