

.input{
    height: 60px;
}
.address-form{
    display: flex;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    width: 360px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    
    
}

.address-form-close{
    width: 0;
}

.error{
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.submit-button{
    border-radius: 10px;
    border: 2px solid white;
    background-color:#B32317;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-top: 15px;
}
.submit-button:disabled{
    background-color:rgba(179, 36, 23, 0.692);
    color: white;
    cursor: not-allowed;
}
/* .form-warpper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */

.title{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:15px 0 50px 0;
    color:#38393C;
}



.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 120px;
    height:100px;
}

body,html{
    height:100%;
    margin:0 ;
}