<div class="form-warpper">


  <form class="address-form"  [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="img-wrapper">
                <img class="logo" src="assets/logo.png" alt="Avatar" >
        </div>

                <h4 class="title">Add Address</h4>

      <mat-form-field class="input">
          <input matInput type="text" placeholder="Address" formControlName="address">
      </mat-form-field>


      <mat-form-field class="input">
          <input matInput type="text" placeholder="City" formControlName="city">
      </mat-form-field>
      <!-- <mat-error class="error" *ngIf="cardOwnerName.errors?.required && cardOwnerName.touched">
          name is required
      </mat-error> -->

      <mat-form-field class="input">
        <input matInput type="number" placeholder="Enter Zip Code" formControlName="zipCode"> 
    </mat-form-field>
<!-- 
      <mat-error class="error" *ngIf="exparationDate.errors?.required && exparationDate.touched">
          date is required
      </mat-error> -->

      <mat-form-field class="input">
          <input matInput type="number" placeholder="Enter Phone" formControlName="phone"> 
      </mat-form-field>
<!-- 
      <mat-error class="error" *ngIf="CVV.errors?.required && CVV.touched">
          CVV is required
      </mat-error> -->

      <button class="submit-button" [disabled]="paymentForm.invalid">Next</button>
  </form>
</div>
<!-- [disabled]="paymentForm.invalid" -->