/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poppins:300,400');

.form-container{
    width:500px;
    /* height:500px; */
}

.center{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

body,html{
    height:100%;
}

.button-design{
    border-radius: 10px;
    border: 2px solid white;
    background-color:#B32317;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.button-design:disabled{
    background-color:rgba(179, 36, 23, 0.692);
    color: white;
    cursor: not-allowed;
}

.alert{
    text-align: center;
    padding: 10px;
    color: #B32317;
    margin-top: 10px;
    display: none;
  }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    /* background-color: rgb(233, 233, 233); */
}