
<div class="cart-products">
  <div class="cart-img-container"><div class="yellow-filter"></div><img [src]="car.elementProperties.src" alt="{{car.name}}"></div>
  <div class="cart-products-right-side-wrapper">
    <div class="product-name">
    <p>{{car.name}}</p>
    </div>
    <div class="cart-amount-container">
        <button class="adjuct-amount-buttons" (click)="addOneItem()">+</button>
        <h3>units: {{car.elementProperties.amount}}</h3>
        <button class="adjuct-amount-buttons" (click)="removeOneItem()">-</button>
    </div>
    <h3>{{car.elementProperties.price*car.elementProperties.amount | currency:'USD':'symbol':'1.2-2'}}$</h3>
  </div>
</div>