.cart-products{
    width: 265px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 2px;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 73, 53);
    font-family: Roboto;
    border: 2px solid #E85858;
    border-radius: 6px;
    overflow: hidden;
}
.cart-img-container img{
    height: 100%;
}
.yellow-filter{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(219, 219, 206, 0.26);
}

.cart-img-container{
    position: relative;
    width: 35%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cart-products h3{
    font-size: 12pt;
    margin: 0;
    margin-right:5px;
    text-align: center;
}

.cart-products h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 20pt;
    margin: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: rgb(36, 73, 53);
}

.cart-amount-container{
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}
.adjuct-amount-buttons{
    margin: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    /* border: 2px dashed #e94040; */
    background-color: #E85858;
    color: white;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}
.cart-products-right-side-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 65%;
}

.cart-products-right-side-wrapper h3{
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    text-align: right;
}

.product-name{
    text-align: center;
}